{% extends 'base.html.twig' %}

{% block title %}Path index{% endblock %}

{% block body %}
    <h1>Path index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Rang</th>
                <th>Ligne</th>
                <th>Station</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for path in paths %}
            <tr>
                <td>{{ path.id }}</td>
                <td>{{ path.rang }}</td>
                <td>{{ path.ligne }}</td>
                <td>{{ path.station }}[{{ path.station.id }}]</td>
                <td>
                    <a href="{{ path('path_show', {'id': path.id}) }}">show</a>
                    <a href="{{ path('path_edit', {'id': path.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('path_new') }}">Create new</a>
{% endblock %}
